# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: Deploy

on:
  schedule:
    - cron: "41 2 * * 0"  # every Sunday at 02:41 UTC <https://crontab.guru/#41_2_*_*_0>
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: superfly/flyctl-actions/setup-flyctl@fc53c09e1bc3be6f54706524e3b82c4f462f77be # 1.5
    - name: flyctl deploy
      env:
        MOLLYSOCKET_VERSION: ${{ vars.MOLLYSOCKET_VERSION || 'latest' }}
        FLY_APP: ${{ secrets.FLY_APP }}
        FLY_API_TOKEN: ${{ secrets.FLY_DEPLOY_TOKEN }}
      run: |
        for _ in 1 2; do
          flyctl deploy \
            --app "${FLY_APP}" \
            --config fly.template.toml \
            --build-arg "MOLLYSOCKET_VERSION=${MOLLYSOCKET_VERSION}" \
            --remote-only \
            && break  # break from `for` loop if successful
          sleep 60  # sleep for 1 minute if failed
        done
